<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          <img src="https://raw.githubusercontent.com/Luiti/luiti.github.io/master/images/luiti/luiti_rectangle_logo.png" alt="Luiti">
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="/document_guide.html">Document Guide</a>
      <a class="sidebar-nav-item" href="/screenshots.html">Screenshots</a>
      <a class="sidebar-nav-item" href="/chinese/index.html">中文文档</a>

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <span class="sidebar-nav-item">currently v{{ site.version }}</span>

    </nav>

    <p>
      Author and Maintainer
      <a href="http://twitter.com/mvj3">@mvj3</a>
    </p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>

<style>
div.sidebar .sidebar-sticky {
  top: 1rem;
}
</style>
