<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-0c">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}

      {% include disqus.html %}
    </div>

  </body>
</html>

<div id="other_links_data" class="hidden">
  <hr>

  <div>
    <ol id="other_links">
      <li><a class='sidebar-nav-item' href='/talks/Python-Conf-2015-Shanghai.html'>Python Conf 2015 Shanghai 十分钟闪电演讲纪录</a></li>
    </ol>
  </div>
</div>

<style>
div.content.container {
  margin-top: -80px;
  min-width: 62%;
}

ol#other_links {
  margin-left: -20px;
}
ol#other_links li {
}
ol#other_links li a {
  font-size: 0.6rem;
}
</style>


<!-- Sidebar navigator links -->
<div id="articles_list_data" class="hidden">
{{ site.chinese_article.articles_list | jsonify }}
</div>
<script>
  $(document).ready(function() {
    var sidebar = $(".sidebar .sidebar-nav");

    // Remove root links
    sidebar.html("");

    var sidebar_nav_item_template = _.template(""
      + "<a class='sidebar-nav-item' href='<%= link %>'><%= idx %>. <%= name %></a>"
    );

    var articles_list_data = JSON.parse($("#articles_list_data").text()),
        items = [];

    items = items.concat($( "<h3 style='color:white;'>使用 Luiti 来构建数据仓库</h3>" ));

    var finished_articles_idxes = ["0", "1", "2", "3", "4", "5", "6", "7", "8"];
    var is_finished = finished_articles_idxes.length == _.keys(articles_list_data).length;

    _.each(_.keys(articles_list_data), function(idx) {
      var article = articles_list_data[idx];
      var link = "/chinese/" + article.en.replace(/ /g, "-") + ".html";

      // fix unfinished article link
      var is_finished = _.contains(finished_articles_idxes, idx);

      link = is_finished ? link : "/chinese/index.html";

      var _html = sidebar_nav_item_template({
        "link": link,
        "idx": idx,
        "name": article.zh,
      });

      var _dom = $(_html);
      if (!is_finished) {
        _dom.css("text-decoration", "line-through");
      };

      items = items.concat(_dom);
    });

    sidebar.html(items);

    if (!is_finished) {
      sidebar.append($("<div style='color:white;text-align:right;margin-top:20px;'>* 划线的文章链接表示还未完成。</div>"));
    }


    // Fix youku iframe dont support https
    // via http://stackoverflow.com/questions/18327314/how-to-allow-http-content-within-an-iframe-on-a-https-site
    if (window.location.protocol == "https:") {
      var new_url = window.location.href.replace("https", "http");
      window.location = new_url;
    };


    // Add other links to sidebar
    sidebar.append($("#other_links_data").html());

  });
</script>

{% include google_analytics.html %}
